<h3>Location: {{fullLocation}}</h3>

<h4>Rentals available in {{city.name}}:</h4>

<ul>
  {{#each sortedRentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

<br>
<button class="btn btn-danger" {{action 'destroyCity' city}}>Destroy City!</button>
